server {
	listen <%= @port %>;
	server_name  <%= @hostname %>;
	root <%= @root %>;
	index index.php index.html index.htm;

	access_log <%= node['nginx']['log_dir'] %>/<%= @name %>.access.log;

	location ~* ^.+\.(ogg|ogv|svg|svgz|eot|otf|woff|mp4|ttf|rss|atom|jpg|jpeg|gif|png|ico|zip|tgz|gz|rar|bz2|doc|xls|exe|ppt|tar|mid|midi|wav|bmp|rtf)$ {
		access_log off; log_not_found off; expires max;
	}

	# deny all access to files beginning with .
	location ~ /\. {
		deny all;
	}

	# deny all access to scripts within upload folders
	location ~* /(?:uploads|files)/.*\.php$ {
		deny all;
	}

	location / {
		<% if @rewrite %>
		# rewrite the URL
		try_files $uri $uri/ /index.php?q=$uri&$args;
		<% end %>
	}

	location ~ \.php$ {
		try_files $uri =404;
		fastcgi_split_path_info ^(.+\.php)(/.+)$;
		fastcgi_pass <%= @php_listen %>;
		fastcgi_index index.php;
		fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
		include fastcgi_params;
	}
}