<?php

define( 'WP_INSTALLING', true );

/** Load WordPress Bootstrap */
require_once( 'wp-load.php' );

/** Load WordPress Administration Upgrade API */
require_once( ABSPATH . 'wp-admin/includes/upgrade.php' );

/** Load wpdb */
require_once( ABSPATH . 'wp-includes/wp-db.php' );

if ( is_blog_installed() )
	exit;

$GLOBALS['wpdb']->show_errors();

$result = wp_install(
	'SolisCRM Test Site', 'admin',
	'admin@solislab.com', false,
	'',
	'admin'
);

update_option( 'home', '<%= @home_url %>' );