{
    "behat": {
        "url": "<%= @behat_url %>",
        "username": "<%= @behat_username %>",
        "password": "<%= @behat_password %>"
    },
    "phpunit": {
        "dbName": "<%= @db_name %>",
        "dbUser": "<%= @db_user %>",
        "dbPass": "<%= @db_pass %>",
        "dbHost": "localhost",
        "pluginPath": "<%= @plugin_path %>"
    }
}